<!DOCTYPE html>
<html>

<head>

    <link rel="icon" href="https://wfss001.freeli.io/common/freeli-logo.jpg" type="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <style type="text/css">
        .float-left {
            @include float-right;
        }
 
        .aa{
          margin-left: -15px;          
          margin-right: -10px;          
          width: 5075px;
          background-color: #d9e2e8;
          color: #023d67;
          height: 60px;
          padding-left: 117px;
 }

.navbar-light{
    height: 1200px; background: #023d67; padding: 0px 0px 0px 10px;
}
 

@media only screen and (max-width: 640px) {
   
 
.m_menu{
    margin-top: -1314px;
    margin-left: -120px;
}
 
.col-md-2.5{
    display: none;
}

.btn{
    display: none;
}
 

   
 
 

    </style>
</head>

<body>

    <!-- ===================================  == -->
    <!-- Top__Manu -->
    <div class="navbar">
        <div class="navbar-center">
            <a class="navbar-brand" style="font-size: 25px;" href="">Connect</a>
            <h2 class="navbar-brand" style="margin-left: 450px; font-size: 30px; color:black" href="#">WorkFreeli</h2>
        </div>
        <div class="navbar-right">
            <!-- <button class="btn btn-info navbar-brand" href="#">Login</button> -->
            <!-- <a class="btn btn-info navbar-brand" href="/logoute" role="button">Log Out</a> -->
            
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">^</button>


        <div class="dropdown-menu" style="margin-left: -235px;" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="color: #023d67" href="#"><b>rajonhossaindhaka@gmail.com</b></a>
        <input type="checkbox" checked data-toggle="toggle">
        <a class="dropdown-item" style="line-height: 40px; color: #023d67" href="#"><b>Admin Setting</b></a>
        <a class="dropdown-item" style="line-height: 40px; color: #023d67" href="#"><b>Chainge Password</b></a>
        <a class="dropdown-item text-danger" style="padding: 10px; background-color: white" href="/logoute">
            <center><h5>Sign Out</h5></center></a>
        </div>
        </div>
             
             
             
        </div>
    </div>

    <!-- =====================================-->
<!-- Site Manu -->
<div class="container-fluid">
  <div class="row">
     
    <ul class="navbar-light navbar-nav col-md-2.5">
        <li class="navbar-brand">
            <a class="nav-link" href="#" style="color: yellow; font-size:20px">WorkFreeli Notification(s)</a></li>
        <li><a class="a" style="color: white; font-size:25px">Pinned</a></li>
        <li class="navbar-brand a"><a class="nav-link" href="#" style="color: white; font-size:15px">User Name</a></li>
        <a class="navbar-brand a" href="" style="color: white "><h4>Conversation(s)</h4></a>
        <li class="navbar-brand a"><a class="nav-link" href="#" style="color: white; font-size:15px">User</a></li>
        <li class="navbar-brand a"><a class="nav-link" href="#" style="color: white; font-size:15px">User</a></li>         
    </ul>
 
     

<!-- center Document -->
   <div class="col-md-9 m_menu">         
        <div class="aa user-bar">
<!-- ==================== -->
            <div class="navbar">
                <div class="navbar-center">
                    <h2 class="navbar-brand" style="" href="#">User Name</h2>
                    <h2 class="navbar-brand" style="" href="#">|</h2>
                    <h2 class="navbar-brand" style="" href="#">WorkFreeli</h2>
                    <h2 class="navbar-brand" style="" href="#">|</h2>
                    <h2 class="navbar-brand" style="" href="#">Files</h2>
                </div>
        </div> 
    </div>
  </div>
<!-- ==================== -->


</div>
</div>
 
 

 


        
 
   
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>     
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
 