<!DOCTYPE html>
<html>

<head>

    <link rel="icon" href="https://wfss001.freeli.io/common/freeli-logo.jpg" type="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <style type="text/css">
         
 @media only screen and (min-width: 600px) {
        .aa{
          margin-left: -15px;          
          margin-right: -10px;          
          width: 5075px;
          background-color: #d9e2e8;
          color: #023d67;
          height: 60px;
          padding-left: 117px;
    }

    .navbar-light{
        height: 1200px; 
        background: #023d67;
        padding: 0px 0px 0px 10px;
    }
    .Connect{
        font-size: 25px;

    }
    .workfreeli {
         
        font-size: 30px !important;; 
        color: #023d67;
    }
    .gmail{
        margin-left: -235px;
    }
    .ad_setting{
        line-height: 40px; color: #023d67;
    }
    .text-danger{
        padding: 10px; background-color: white
    }
    .work_noti{
        color: yellow; 
        font-size:20px
    }
    .a{
        color: white; 
        font-size:10px
    }

    .container-fluid{
        height: -10px;
    }
    .navbar-center{
        height: -10px;
    }
    .site{
        margin-top: -20px;
    }

} 

   
 
 

    </style>
</head>

<ons-page>

    <!-- Top__Manu -->
    <div class="navbar site">
         
            <a class="navbar-brand Connect" style="" href="">Connect</a>
            <h2 class="navbar-brand workfreeli font-weight-bold" href="#">WorkFreeli</h2>
                
            
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">^</button>


        <div class="dropdown-menu gmail" style="" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item gmail1" style="color: #023d67" href="#"><b>rajonhossaindhaka@gmail.com</b></a>
            <input type="checkbox" checked data-toggle="toggle">
        <a class="dropdown-item ad_setting" style="" href="#"><b>Admin Setting</b></a>
        <a class="dropdown-item ad_setting" style="" href="#"><b>Chainge Password</b></a>
        <a class="dropdown-item text-danger" style="" href="/logoute">
            <center><h5>Sign Out</h5></center></a>
        </div>
        </div>
             

    </div>

    <!-- =====================================-->
<!-- Site Manu -->
<div class="container-fluid site">
  <div class="row">
         
            <ul class="navbar-light navbar-nav col-md-2.5 sitebar">
                 
                <li>
                    <a class="nav-link work_noti" href="#" style=""> &nbsp </a>
                </li>
                <li>
                    <a class="nav-link work_noti" href="#" style="">WorkFreeli Notification(s) &nbsp</a>
                </li>
                <!-- <li><a class="a" style="color: white; font-size:25px">Pinned</a></li> -->
                <!-- <li class="navbar-brand"><a class="nav-link a" href="#" style="">User Name</a></li> -->
                    <!-- <a class="navbar-brand a" href="" style=""><h4>Conversation(s)</h4></a> -->
                <!-- <li class="navbar-brand"><a class="nav-link a" href="#" style="">User</a></li> -->
                <!-- <li class="navbar-brand"><a class="nav-link a" href="#" style="">User</a></li>          -->
            </ul>
         
 
     
<!-- center Document -->
   <div class="col-md-9 m_menu">         
        <div class="aa user-bar">             
                <div class="navbar-center">
                    <h2 class="navbar-brand" style="" href="#">User Name</h2>
                    <h2 class="navbar-brand" style="" href="#">|</h2>
                    <h2 class="navbar-brand" style="" href="#">WorkFreeli</h2>
                    <h2 class="navbar-brand" style="" href="#">|</h2>
                    <h2 class="navbar-brand" style="" href="#">Files</h2>
                </div>
        </div> 
    </div>
  </div>
<!-- ==================== -->


</div>
</div>
 
 

 


        
 
   
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>     
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</ons-page>
</html>
 