<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
</head>
<body>
  
<ons-page id="about">
  <ons-toolbar style="background-color: white; height: 80px;">
    <div class="left">Connect</div>
    <div class="center" style="font-size: 30px;">WorkFreeli</div>
    <div class="right"><button style="color:blue; background-color: red; height: 40px;">sdfdsf</button></div>
  </ons-toolbar>

<br/>
<br/>
<ons-row>
    <ons-col width="20%" style="background: #103D67; height: 600px;">
      <ul>
        <li>Page</li>
        <li>Page</li>
        <li>Page</li>
        <li>Page</li>
        <li>Page</li>
      </ul>
    </ons-col>


    <ons-col style="">
    <div style="background: lightgray; height: 20px; height: 60px;"></div>
         
        
        Center Bar
    </ons-col>
</ons-row>
 
<!--  <ons-list id="pokemon-list">
    <ons-list-item>bulbasaur</ons-list-item>
    <ons-list-item>charmander</ons-list-item>
    <ons-list-item>squirtle</ons-list-item>
    <ons-list-item>pikachu</ons-list-item>
    <ons-list-item>trubbish</ons-list-item>
  </ons-list> -->



</ons-page>




</body>
</html>