<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/registration.css">
</head>
<body>
<form action="regi_form" method="POST">
  <label>
    <p class="label-txt">User Email</p>
    <input type="email" class="input" name="email" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">User Name</p>
    <input type="text" class="input" name="username" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">User Password</p>
    <input type="text" class="input" name="password" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit" class="btn-info">submit</button>
</form>

<div class="d-flex justify-content-center links">
					<a href="/">Login Page</a>
				</div>

 
</body>
</html>